*,*::after,*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
}
a {
    color: #fff;
    text-decoration: none;
    font-size: 25px;
}
.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 400px;
    height: 80px;
    border-radius: 30px;
    border: 2px solid hsl(0, 0%, 90%);
}
.nav h1 {
    color: hsl(0, 0%, 100%);
    font-size: clamp(2rem, 3vw, 10px);
}
.mother{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    place-items: center;
    gap: 10px;
}
.search{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
}
.input {
    margin-bottom: 10px;
}
.search p {
    color: hsl(0, 94%, 49%);
}
.input input {
    height: 45px;
    width: 300px;
    text-align: center;
}
.input button {
    padding: 15px 30px;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}
.input button:hover {
    background-color: hsl(0, 0%, 10%);
    color: hsl(0, 0%, 100%);
}


@media(max-width: 400px) {
    .nav {
        margin: 30px 40px;
    }
    .nav h1 {
        font-size: 25px;
    }
    .input input {
        width: 200px;
    }
    .search p {
        font-size: 15px;
    }
}